{% extends "admin/base.html" %}
{% load static %}
{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% block extrastyle %}<link rel="stylesheet" href="{% static 'css/application.css' %}" />{% endblock %}
{% block branding %}

<h1 id="site-name"><a href="{% url 'admin:index' %}"><img style="width: 100px;margin-right: 1em" src="{% static 'img/logo_palm.png' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}
    <div id="nav-main">
        <a href="/hebergement/reservation">Accueil</a>
        <a href="/hebergement">Hébergement</a>
        <a href="/restauration">Restauration</a>
        <a href="/core">Paramêtres</a>
    </div>
{% endblock %}




{% block usertools %}{% endblock %}
